ASPNETCORE_ENVIRONMENT="Production/Development"

DB_CONNECTION_PASSWORD="YourApiServicePassword"
DB_CONNECTION_USERNAME="YourApiServiceUser"

DB_CONNECTION_HOSTNAME="host"
DB_CONNECTION_HOSTPORT="0000"