# Logs ignores
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Obsidian ignores
.obsidian/**

# MongoDB ignores
mongodb/**

# Environment ignores
.env
.env.*
!.env.example
!.env.dev

# Node/Next.js ignores
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/dist/
frontend/.turbo/
frontend/coverage/
frontend/.eslintcache

# Api ignores
backend/**/bin/
backend/**/obj/
backend/**/TestResults/
backend/**/*.user
backend/**/*.suo
backend/**/*.cache
backend/**/*.pdb
backend/.vs/

# Docker ignores
**/docker-compose.override.yml

# Coverage ignores
coverage/
*.coverage
*.coveragexml

# Publish output
publish/

# Test-related files
sample-input.csv

# Other files
desktop.ini